<div id="adwrapper">



	<button id="allbutton" class="vehicleButtons" style="visibility:visible; !important">
            <div style="position:relative; top:-2px;">جميع الشاحنات</div>
        </button>

        <button id="vanbutton" class="vehicleButtons" style="visibility:visible; !important">
            <div style="position:relative; top:20px;"><%= t("header.van")%></div>
        </button>
        <button id="semibutton" class="vehicleButtons" style="visibility:visible; !important">
            <div style="position:relative; top:20px;"><%= t("header.semi_trailer")%></div>
        </button>
        <button id="sttbutton" class="vehicleButtons" style="visibility:visible; !important">
            <div style="position:relative; top:20px;">شاحنة <%= t("header.semi_trailer")%></div>
        </button>
        <button id="heavybutton" class="vehicleButtons" style="visibility:visible; !important">
            <div style="position:relative; top:20px;">شاحنة ثقيلة</div>
        </button>


<div style = "width:300px;">
            <%=render 'ads/searchform'%>

</div>
</div>
