<%=render 'ads/results'%>

<li><b>المصرية للاستيراد و التصدير</b></li>

<li><b>مدير المشروع</b></li>

<li><b>المهندس أحمد سمير </b></li>

<li><b>رقم التليفون</b></li> <a>01003414207</a>

<li><b>المهندس محمد عوضين</b></li>

<li><b>رقم التليفون</b></li> <a>01002227668</a>

 <a href="http://www.masreya.com">لزيارة موقعنا اضغط هذا الرابط</a>


