<br>
<%if @ads.empty?%>
<div style="text-align:center;">NO RESULTS FOUND</div>
<%else%>
<%@ads.each do |a|%>
<div class = "post_wrapper">
<%=link_to a.title, "/ads/#{a.id}"%><br>
<div style ="width: 400px;">
<%=a.description%><br>
</div>
</div>
<%end%>
<%end%>