<div style="text-align: center">
|<span><%= link_to "VAN", "/vans/new",:style=>'color: black'%></span> | 
<span><%= link_to "SEMITRAILER", "/semitrailers/new",:style=>'color: black'%></span> |
<span><%= link_to "HEAVYTRUCK", "/heavytrucks/new",:style=>'color: black'%></span> |
<span><%= link_to "SEMITRAILERTRUCK", "/semitrailertrucks/new",:style=>'color: black'%></span> |

</div>
