/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */
.error {
  color: red;
}
#header {
		width:100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid #d6dce0;
		background: #2D882D;
		color: #070F07;
		height: 120px;
		a{
		  color: #111F11;
		&:hover {
					color: #33F433;
				}
		}
	}
	.show_wrapper {
		width:500px;
	}
	.post_wrapper {
		padding: 1em;
		border-bottom: 1px solid #97A797;
	}
	a {
				font-weight: 500;
				text-decoration: none;
				//color: #2a2f35;
				color: #2D882D;
				font-size: 1.1em;
				&:hover {
					color: #00E35C;
				}
			}
			#sellerinfo{
			position: relative;
			width: 300px;
			margin-right:80%;
			height:0px;
			
			}
			
			

	#searchwrapper{

	position: absolute;
	width:700px;
	margin: 0 auto;
	color: #000000;
	visibility:hidden;
	}
	#searchparent{
	position: relative;

	}
	#headerRight{
	position:relative;
	width:300px;
	height:0px;
	margin-right:50px;
	}
	#headerLeft{
	position:relative;
	margin-right:auto;
	margin-left:0;
	width:300px;
	height:0px;
	}
	input[type="number"]{
	  width:70px;

	}
	#searchbutton{
	width: 110px;
	height: 37px;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background:#CDEBCD;
	background-image:image-url('search-icon3.png');
	background-position: 6px 1px;
	background-repeat:no-repeat;
	//color:#FFFFFF;

	}
	td{
	 width:150px;
	 overflow: hidden;
	 display:inline-block;
	 white-space:nowrap;
	}
	#body{
	margin-top:120px;
	background:#CDEBCD;
	}

	#vanwrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#sttwrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#semiwrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#heavywrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#atrrparent{
	position: relative;
	}
	#semibutton{
	visibility:hidden;
	width: 110px;
	height: 37px;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background:#CDEBCD;
	
	}
	#vanbutton{
	visibility:hidden;
	width: 110px;
	height: 37px;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background:#CDEBCD;
	
	}
	#sttbutton{
	visibility:hidden;
	width: 110px;
	height: 37px;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background:#CDEBCD;
	
	}
	#heavybutton{
	visibility:hidden;
	width: 110px;
	height: 37px;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background:#CDEBCD;

	}

