/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */
.error {
  color: red;
}
.errorform{
  border:2px solid red;
  
}
.submit_button{
 color:#000;
 border-radius:20px;
 border:2px solid;
background-color:#CDEBCD;
 width:100px;
 height:25px;
 
  
}
#header {
		width:100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 2px solid #000;
		background: #2D882D;
		color: #070F07;
		height: 120px;
		z-index:1000;
		a{
		  color: #111F11;
		&:hover {
					color: #33F433;
				}
		}
	}
	.show_wrapper {
		width:500px;
	}
	.post_wrapper {
		padding: 1em;
		border-bottom: 1px solid #97A797;
		overflow:hidden;
	}
	#adwrapper {
		border-radius:5px;
		border:1px solid #000;
		box-shadow: 5px 5px 5px #888888;
		overflow: hidden;
		background:#FAFAFA;
		margin-right:10%;
		margin-left:10%;
		padding:3em;
		//border-bottom: 1px solid #97A797;
	}

	a {
				font-weight: 500;
				text-decoration: none;
				//color: #2a2f35;
				color: #2D882D;
				font-size: 1.1em;
				&:hover {
					color: #00E35C;
				}
			}
			#sellerinfo{
			width: 30%;
			float:left;
			
			}
			#showadwrapper{
			width:60%;
			float:right;
			
			}
			
			

	#searchwrapper{
	position: absolute;
	width:700px;
	margin: 0 auto;
	color: #000000;
	visibility:hidden;
	}
	#searchparent{
	position: relative;

	}
	#headerRight{
	position:relative;
	width:300px;
	height:0px;
	margin-right:50px;
	}
	#headerLeft{
	position:relative;
	margin-right:auto;
	margin-left:0;
	width:300px;
	height:0px;
	}
	input[type="number"]{
	  width:70px;

	}
	#searchbutton{
	width: 150px;
	height: 60px;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background:#CDEBCD;
	background-image:image-url('search-icon3.png');
	background-position: 6px 7px;
	background-repeat:no-repeat;
	//color:#FFFFFF;

	}
	#downarrow{
	position:absolute;
	width: 25px;
	height: 20px;
	background-image:image-url('down-arrow1.png');
	background-position: -2px 2px;
	background-repeat:no-repeat;
	visibility:hidden;
	}
	#uparrow{
	position:absolute;
	width: 25px;
	height: 20px;
	background-image:image-url('up-arrow1.png');
	background-position: -2px 2px;
	background-repeat:no-repeat;
	visibility:hidden;
	}
	#arrowwrapper{
	margin-bottom:22px;
	position:relative;
	}
	td{
	 width:150px;
	 overflow: hidden;
	 display:inline-block;
	 white-space:nowrap;
	}
	#body{
	margin-top:120px;
	background:#E3E3E3;
	}

	#vanwrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#sttwrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#semiwrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#heavywrapper{
	width :300px;
	position: absolute;
	color: #000000;
	}
	#atrrparent{
	position: relative;
	}
	#semibutton{
	height:60px;
	width:130px;
	color:#000;
	background-image:image-url('truck-placeholder.svg');
	background-size: 80px 30px;
	background-repeat:no-repeat;
	background-position: 10px 4px;
	font-size:12px;
	visibility:hidden;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background-color:#CDEBCD;
	
	}
	#vanbutton{
	height:60px;
	width:130px;
	color:#000;
	background-image:image-url('truck-placeholder.svg');
	background-size: 80px 30px;
	background-repeat:no-repeat;
	background-position: 10px 4px;
	font-size:12px;
	visibility:hidden;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background-color:#CDEBCD;
	
	}
	#sttbutton{
	height:60px;
	width:130px;
	color:#000;
	background-image:image-url('truck-placeholder.svg');
	background-size: 80px 30px;
	background-repeat:no-repeat;
	background-position: 10px 4px;
	font-size:12px;
	visibility:hidden;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background-color:#CDEBCD;
	
	}
	#heavybutton{
	height:60px;
	width:130px;
	color:#000;
	background-image:image-url('truck-placeholder.svg');
	background-size: 80px 30px;
	background-repeat:no-repeat;
	background-position: 10px 4px;
	font-size:12px;
	visibility:hidden;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background-color:#CDEBCD;

	}
	#allbutton{
	height:60px;
	width:130px;
	color:#000;
	background-image:image-url('truck-placeholder.svg');
	background-size: 80px 30px;
	background-repeat:no-repeat;
	background-position: 10px 4px;
	font-size:12px;
	visibility:hidden;
	margin: 0 auto;
	border-radius:10px;
	border:2px solid;
	background-color:#9DE56A;
	
	}
	
	/**{
	  font-family:"Droid Arabic Kufi", "Lateef", "Al Bayan", "DecoType Naskh", "DejaVu Serif", "STFangsong", "STHeiti", "STKaiti", "STSong", "AB AlBayan", "AB Geeza", "AB Kufi", "DecoType Naskh", "Aldhabi", "Andalus", "Sakkal Majalla", "Simplified Arabic", "Traditional Arabic", "Arabic Typesetting", "Urdu Typesetting", "Droid Naskh", "Droid Kufi", "Roboto", "Tahoma", "Times New Roman", "Arial", serif;
	  
	}*/

